<%- model_class = Term -%>
<div class="page-header">
  <h1>Radlex <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:rid) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:rid_parent) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= link_to term.id, term_path(term) %></td>
        <td><%= term.name %></td>
        <td><%= term.rid_parent %></td>
        <td></td>
        <td>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @terms %>
