<%- model_class = Term -%>
<div class="page-header">
  <h1>RadLex <%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @term.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rid) %>:</strong></dt>
  <dd><%= @term.rid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rid_parent) %>:</strong></dt>
  <dd><%= @term.rid_parent %> <% if !@term.parent.nil? %> (<%= link_to @term.parent.name, term_path(@term.parent) %>) <% end %></dd>
</dl>

Playbook Terms that this RadLex term is mapped to. 

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:rpid) %></th>
      <th><%= model_class.human_attribute_name(:short_name) %></th>
      <th><%= model_class.human_attribute_name(:long_name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @term.procedures.each do |procedure| %>
      <tr>
        <td><%= link_to procedure.id, procedure_path(procedure) %></td>
        <td><%= procedure.short_name %></td>
        <td><%= procedure.long_name %></td>
        <td><%= procedure.description %></td>
        <td>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
