<%- model_class = Procedure -%>
<div class="page-header">
  <h1>Playbook Terms</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:rpid) %></th>
      <th><%= model_class.human_attribute_name(:short_name) %></th>
      <th><%= model_class.human_attribute_name(:long_name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th>RadLex Terms</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @procedures.each do |procedure| %>
      <tr>
        <td><%= link_to procedure.id, procedure_path(procedure) %></td>
        <td><%= procedure.short_name %></td>
        <td><%= procedure.long_name %></td>
        <td><%= procedure.description %></td>
        <td><% procedure.terms.each do |term| %>
							<%= term.name %> 
						<% end %>
        </td>
        <td>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @procedures %>
