<%- model_class = Term -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:matched_radlex_term) %></th>
      <th><%= model_class.human_attribute_name(:playbook_entries) %></th>
    </tr>
  </thead>
  <tbody>
    <% @termsarray.each do |terms| %>
			<% terms.each do |term| %>
      <tr>
        <td><%= link_to term.name, term_path(term) %></td>
        <td>
					<% term.procedures.each do |proc| %>
						<%= proc.short_name %><br />
        
					<% end %>
        </td>

      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= #link_to t('.new', :default => t("helpers.links.new")),
    #       new_term_path,
    #        :class => 'btn btn-primary' 
    %>

