<script>
$( document ).ready(function() { 
	$(".toggler").click(function () {
		$(".toggle").toggle('slow');
	});
});

</script>

<%- model_class = Term -%>
<div class="page-header">
  <h1>Mapping Your Search "<%= params[:name] %>"</h1>
</div>

<h4>List of possible Playbook terms that map to your request </h4><br />

<% @intersection.each do |proc| %>
	<%= link_to proc.short_name, procedure_path(proc) %>, 
<% end %>

<% if @intersection.empty? %>
	None.
<% end %>

<br /><br />


<br class="table table-striped"/>

<h4>List of all RadLex terms that match to your request with list of associated Playbook terms </h4><button class="toggler">Toggle Playbook Entries</button><br />

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:matched_radlex_term) %></th>
      <th><%= model_class.human_attribute_name(:playbook_entries) %></th>
    </tr>
  </thead>
  <tbody>
    <% @termsarray.each do |terms| %>
			<% terms.each do |term| %>
      <tr>
        <td><%= link_to term.name, term_path(term) %> </td>
        <td style="display: none" class="toggle">
					<% term.procedures.each do |proc| %>
						<%= proc.short_name %>,
        
					<% end %>
        </td>

      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= #link_to t('.new', :default => t("helpers.links.new")),
    #       new_term_path,
    #        :class => 'btn btn-primary' 
    %>

