<%- model_class = Procedure -%>
<div class="page-header">
  <h1>Playbook <%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:rpid) %>:</strong></dt>
  <dd><%= @procedure.rpid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:short_name) %>:</strong></dt>
  <dd><%= @procedure.short_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:long_name) %>:</strong></dt>
  <dd><%= @procedure.long_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @procedure.description %></dd>
</dl>

RadLex Terms <%= @procedure.short_name %> is mapped to. 

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:rid) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:rid_parent) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @procedure.terms.each do |term| %>
      <tr>
        <td><%= link_to term.id, term_path(term) %></td>
        <td><%= term.name %></td>
        <td><%= term.rid_parent %></td>
        <td>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

